html, body {
    background-color: #AAC2A2;
    padding: 0;
    margin: 20px;
}

h1, h2, h3, h4, h5 {
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.eventsh1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

p, .btn, .readmore {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.cselogo {
    position: relative;
    border: solid 10px #476930;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cselogo img {
    vertical-align: top;
}

.navbar {
    overflow: hidden;
    background-color: #476930;
}

.navbar a {
    float: left;
    color:#AAC2A2;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover {
    background-color:#AAC2A2;
    color: #476930;
}

.navbar a.active { 
    background-color: #DCDDC0;
    color: #476930;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.neon {
    position: relative;
    width: 99%;
    border: #476930;
    border-width: 10px;
    border-style: solid;
    height: 400px;
    overflow: hidden;
}

.neon img {
    max-width: 100%;
}

.neon .btn {
    position: absolute;
    top: 320px;
    left: 150px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color:#DCDDC0;
    color:#476930;
    font-size: 35px;
    border: none;
    cursor: pointer;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    border: #476930;
    border-width:10px;
    border-style:solid
}

.articles article {
    display: inline-block;
    width: 99%;
    background-color: #DCDDC0;
    border: solid 10px #476930;
    color: #476930;
    font-size: 20px;
}
.a1 p, .a2 p, .a3 p, .a1 h2, .a2 h2, .a3 h2 {
    margin: 10px;
    padding: 10px;
}

.author {
    border: solid 2px #476930;
    background-color: #AAC2A2;
    color: #476930;
}

.foot {
    border: solid 10px #476930;
    background: #DCDDC0;
    max-width: 22.5%;
    color: #476930;
}

.foot p, .footerh3 {
    font-size: 20px;
    margin: 10px;
}

.footerh3 {
    color: black;
}